
  #header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  
  #header h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  
  /* Estilos para la sección de experiencia */
  
  .expirience {
    margin-top: -10%;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack titulo y texto vertical */
    align-items: center; /* Centrar horizontalemnte */
    justify-content: center; /* Center verticalmente */
    width: 100%; /* widht responsivo */
    height: 100vh; /* anchura completo */
  }
  
  .title_exp {
    font-size: 40px;
    margin-bottom: 20px; /* espacio textos*/
    color: #337ab7;
  }

  .skills, .projects, .certificados {
    display: flex;
    flex-direction: column; /* Asegura que los elementos internos estén en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    margin: 10px;
}

.skills ul, .projects ul, .certificados ul {
    list-style: none;
    padding: 0;
}

.skills li, .projects li, .certificados li {
    margin: 10px 0; /* Ajusta el margen entre los elementos de la lista */
}

img, video {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 1rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

/* Estilos generales */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #151313;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Header */
#header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  overflow: hidden;
}

#header h1 {
  font-size: 24px;
  margin: 0;
  float: left;
}

/* Sección de experiencia */
.expirience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.title_exp {
  font-size: 40px;
  margin-bottom: 20px;
  color: #337ab7;
}

.text_exp {
  font-size: 1.2em;
  text-align: center;
  color: #fff;
}

/* Sección de habilidades */
.skills, .projects, .certificados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills li, .projects li, .certificados li {
  list-style: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ff0000;
  border-radius: 5px;
  background-color: #ffffff;
  transition: background-color 0.2s ease;
  flex: 1 1 200px; /* Ajusta el tamaño mínimo */
}

.skills li:hover, .projects li:hover, .certificados li:hover {
  background-color: #1a66a0;
}

/* Título habilidades */
.titulos_hab {
  color: #00aaff;
}

/* Sección de contacto */
.contact {
  background-color: #f7f7f7;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.contact p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Enlaces */
a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

/* Íconos */
i {
  font-size: 24px;
  margin-right: 10px;
}

/* Medios de comunicación */
.icono {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #333;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

/* Enlaces sociales */
.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-links li {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.social-links li:hover {
  background-color: #fff;
}

.social-links a {
  text-decoration: none;
  color: #337ab7;
}

.social-links a:hover {
  color: #23527c;
}

/* Media Queries */

@media (max-width: 768px) {
  .expirience, .skills, .projects, .certificados {
      margin-right: 15%;      
      flex-direction: column;
      align-items: center;   
  }

  .brand-seccion {
    font-size: 1.5em;
    white-space: inherit;
  }

  .skills li, .projects li, .certificados li {
      width: 100%;
      margin: 5px 0;
  }
}

@media (max-width: 768px) {
  .container, .contenedor1 {
      max-width: 600px;
  }
  .skills, .projects, .contenedor1 {
      flex-direction: row; /* Stack items vertical en pantallas chicas */
  }
}

@media (max-width: 480px) {
  .container, .contenedor1 {
      max-width: 400px;
  }
}

@media (max-width: 320px) {
  .container, .contenedor1 {
      max-width: 300px;
  }
}

.navegacion {
  padding-left: 5%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas */
}


  .social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .social-links li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f7f7f7;
  }
  
  .social-links li:hover {
    background-color: #fff;
  }
  
  .social-links a {
    text-decoration: none;
    color: #337ab7;
  }
  
  .social-links a:hover {
    color: #23527c;
  }
  
  body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } 

  /* ---- particles.js container ---- */ 
  #particles-js{ position:absolute; 
    width: 100%; 
    z-index: -1; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    background-color: #151313; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
  } 
  
  /*header*/
    .contenedor1 {
      padding: 30px;
      background-color: #fcfcfc;
    }
    .brand-seccion {
      font-size: 70px;
    }
    .navegacion{
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .menu-seccion {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      background-color: #fff; /* Opcional: para que el menú tenga un fondo */
  }
  
  .menu-seccion ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      align-items: center;
      padding: 0;
      margin: 0;
  }
  
  .menu-seccion ul li {
      margin: 0 10px;
      margin-top: 20%;
  }
  
  .menu-seccion ul li a {
      color: #000;
      text-decoration: none;
  }
  
  .menu-seccion ul li a:hover {
      color: #337ab7;
  }
   
    .contacto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      color: #fff;
      font-family: sans-serif;
    }
    
    .contacto h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    
    .contacto p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
    
    .contacto a {
      color: #fff;
      text-decoration: none;
    }
    
    .contacto a:hover {
      text-decoration: underline;
    }
    
    .contacto .redes-sociales {
      display: flex;
      margin-top: 2rem;
    }
    
    .contacto .redes-sociales a {
      margin: 0 1rem;
    }
    
    .contacto .redes-sociales img {
      width: 30px;
      height: 30px;
    }
  
  .container3 {
    margin-top: 3%;
      display: flex;
      flex-direction: column; /* Apila los elementos verticalmente */
      align-items: center; /* Alinea los elementos al inicio del contenedor */
  }

  .yo6 {
    margin-top: -5%;
    width: 40%;
    align-items: center;
  } 
  
  .cv {
      max-width: 100%;
      height: auto;
      font-size: 30px;
  }
  
  .cv-link {
      align-items: center;
      text-decoration: none;
      color: #ffffff; /* Cambia el color del texto según tu diseño */
      background-color: #007bff; /* Cambia el color de fondo según tu diseño */
      padding: 10px 20px;
      border-radius: 5px;
      display: inline-block;
  }
  
  .cv-link:hover {
      background-color: #a4acb4; /* Color de fondo al pasar el ratón */
  }
  
  @media (max-width: 600px) {
      .container {
          flex-direction: column; /* Cambia la dirección de los elementos a columna */
          align-items: flex-start; /* Alinea los elementos al inicio */
      }
  
      .cv {
          margin-right: 0; /* Elimina el margen derecho en pantallas pequeñas */
          margin-bottom: 10px; /* Agrega un margen inferior para separar los elementos */
      }
  
      .cv-link {
          width: 100%; /* Hace que el enlace ocupe todo el ancho del contenedor */
          text-align: center; /* Centra el texto del enlace */
      }
  }

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  font-family: sans-serif;
  padding: 20px; /* Añade padding para evitar que el contenido toque los bordes */
}

.contacto h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contacto p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.contacto a {
  color: #fff;
  text-decoration: none;
}

.contacto a:hover {
  text-decoration: underline;
}

.contacto .redes-sociales {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas */
}

.contacto .redes-sociales a {
  margin: 0 1rem;
}

.contacto .redes-sociales img {
  width: 30px;
  height: 30px;
}



