/* Variables */
:root {
  --primary-color: #337ab7;
  --secondary-color: #1a66a0;
  --light-background: #ffffff;
  --dark-background: #151313;
  --footer-background: #f8f9fa;
  --link-color: #337ab7;
  --link-hover-color: #23527c;
}

/* Estilos generales */
html {
  scroll-behavior: smooth; /* Scroll suave */
}
body, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 60px;
}

img, video {
  max-width: 100%;
  height: auto;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--light-background);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  transition: background-color 0.3s ease;
}

#header.scrolled {
  background-color: var(--secondary-color);
}

#header a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: normal;
}

#header a:hover {
  color: var(--link-hover-color);
  font-weight: bold;
}

/* Sección de experiencia */
.expirience {
  margin-top: -10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.title_exp {
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.text_exp {
  font-size: 1.2em;
  text-align: center;
  color: #fff;
}

/* Sección de habilidades, proyectos y certificados */
.skills, .projects, .certificados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills li, .projects li, .certificados li {
  list-style: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ff0000;
  border-radius: 5px;
  background-color: var(--light-background);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.3s ease;
  flex: 1 1 200px;
}

.skills li:hover, .projects li:hover, .certificados li:hover {
  transform: scale(1.05);
  background-color: var(--primary-color);
  color: #ffffff;
}

/* Enlaces y botones */
a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

.btn {
  text-decoration: none;
  color: #ffffff;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--link-hover-color);
  border-color: var(--primary-color);
  transform: translateY(-3px);
}

/* Íconos y redes sociales */
.icono-grande {
  width: 80px;
  height: 80px;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-links li {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f7f7f7;
  transition: background-color 0.3s ease;
}

.social-links li:hover {
  background-color: var(--light-background);
}

.social-links a {
  text-decoration: none;
  color: var(--link-color);
}

.social-links a:hover {
  color: var(--link-hover-color);
}

/* Particles.js */
#particles-js {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: var(--dark-background);
  background-size: cover;
  background-position: 50% 50%;
}

/* Contenedor de contacto */
.container, .contenedor1 {
  background-color: rgba(64, 60, 60, 0.171);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2.display-4 {
  color: var(--primary-color);
  font-weight: bold;
}

p {
  font-size: 1.1em;
  color: #ffffff;
}

/* Lista de contacto */
ul.list-unstyled li {
  margin-bottom: 10px;
}

ul.list-unstyled li a {
  color: var(--link-color);
  font-weight: 500;
}

ul.list-unstyled li a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.icono {
  margin-right: 10px;
  color: #0056b3;
}

/* Estilos del formulario */
form .form-label {
  font-weight: bold;
  color: #ffffff;
}

form .form-control {
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

form .form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(51, 122, 183, 0.5);
}

button.btn {
  background-color: var(--primary-color);
  border: none;
  transition: background-color 0.3s ease;
}

button.btn:hover {
  background-color: var(--link-hover-color);
}

/* Media Queries */
@media (max-width: 768px) {
  .expirience, .skills, .projects, .certificados {
    flex-direction: column;
    align-items: center;
    margin-right: 15%;
  }

  .skills li, .projects li, .certificados li {
    width: 100%;
    margin: 5px 0;
  }

  .container, .contenedor1 {
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .container, .contenedor1 {
    max-width: 400px;
  }
}

@media (max-width: 320px) {
  .container, .contenedor1 {
    max-width: 300px;
  }
}
